:root{

/* ------------------- */
/* Variables         */
/* ------------------- */

/* Colors */


--orange: #F87070;
--light-blue: #70F3F8;
--purple: #D881F8;
--gray: #D7E0FF;
--dark-blue: #1E213F;
--white: #FFFFFF;
--off-white: #EFF1FA;
--black: #161932;






--theme-color: #F87070;


/* typography */
--typography: kumbh;

}


/* Typography */

@font-face {
  font-family: 'kumbh';
  src: url('./assets/fonts/KumbhSans-VariableFont_YOPQ,wght.ttf');
}
@font-face {
  font-family: 'roboto';
  src: url('./assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'mono';
  src: url('./assets/fonts/SpaceMono-Regular.ttf');
}




/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


/* set up the body */
body {
  font-family: var(--typography);
  min-height: 100vh;
  background-color: var(--dark-blue);
  color: var(--gray);

}




/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 800px;
}








