.title{
  text-align: center;
  padding:20px;
  font-size: 24px;
  font-weight: 800;
}

.menu{
  display: flex;
  gap: 10px;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  width: 327px;
  height: 63px;
  border-radius: 50px;

}

.menu-item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 106px;
  height: 48px;
  color:var(--gray);
  font-size: 12px;
  font-weight: 800;
  opacity: 0.6;
}

.bg-theme{
  background-color: var(--theme-color);
  color: var(--black);
  opacity: 1;
}

.timer-container{
  height: 427px;
}

.dark-circle{
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: var(--black);
  margin-top: 50px;
  position: relative;
}

.timer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.time-left{
  font-size: 80px;
  font-weight: 800;
}

.status{
  font-size: 14px;
  letter-spacing: 13.3px;
  font-weight: 800;
  text-align: center;
}


.config-button{
  text-align: center;
}


.modal-config{
  width: 90%;
  max-width: 327px;
  height: 549px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;


}

.title-config{
  color: var(--black);
  font-size: 20px;
  font-weight: 800;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subtitle-config{
  color: var(--black);
  text-align: center;
  letter-spacing: 4.23px;
  font-size: 11px;
  font-weight: 800;
  padding : 15px;
}

.time-config{
  display: flex;
  flex-direction: column;
}

.field{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  align-items: center;


}

.time-label{
  color: var(--dark-blue);
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  opacity: 0.4;

}

.input-container{
  display: flex;
  max-width: 130px;
  background-color: var(--off-white);
  height: 40px;
  border-radius: 8px;

}

.input input{
  width: 110px;
  background-color: transparent;
  border: none;
  height: 40px;
  font-weight: 800;
  text-align: center;
}
.icon-container{
  padding-right: 4px ;
}

.circle-config{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--off-white);

}

.font-color-config{
  display: flex;
  gap: 10px;
  line-height: 40px;
  justify-content: center;
  margin-bottom: 10px;
  color: var(--black);
  text-align: center;
  font-weight: 800;

}

.font-kumbh{
  font-family: kumbh;
}
.font-roboto{
  font-family: roboto;
}
.font-mono{
  font-family: mono;
}

.font-selected{
  background-color: var(--black);
  color: var(--white);
}

.color-orange{
  background-color: var(--orange);
}
.color-blue{
  background-color: var(--light-blue);
}
.color-purple{
  background-color: var(--purple);
}

.button-apply-container{
  position: relative;
}
.button-apply{
  background-color: var(--theme-color);
  text-align: center;
  width: 140px;
  height: 53px;
  border-color: transparent;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 800;
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
}
